<div class="bluewolf">
	<!-- {% for q in model.bluewolf %}
	<div class="q{{ forloop.index }}">
		<h3>{{ q.headline }}</h3>
		<p>{{ q.description }}</p>
		<div class="answerbox">
			<p></p>
		</div>
	</div>
	{% endfor %} -->

	<div class="q-block q1">
		<h3>{{ model.bluewolf1.headline }}</h3>
		<p>{{ model.bluewolf1.description }}</p>
		<div class="answerbox">
			<p class="question">
				
			</p>
			<p class="answer">
				
			</p>
		</div>
		<button class="btn">Voilà!</button>
	</div>

	<div class="q-block q2">
		<h3>{{ model.bluewolf2.headline }}</h3>
		<p>{{ model.bluewolf2.description }}</p>
		<div class="answerbox">
			<p class="question">
				
			</p>
			<p class="answer">
				
			</p>
		</div>
		<button class="btn">Voilà!</button>
	</div>

	<div class="q-block q3">
		<h3>{{ model.bluewolf3.headline }}</h3>
		<p>{{ model.bluewolf3.description }}</p>
		<div class="answerbox">
			<p class="question">
				
			</p>
			<p class="answer">
				
			</p>
		</div>
		<button class="btn">Voilà!</button>
	</div>


</div>


<!-- 

Write a function in the programming language of your choice to solve the following problems. Each function should be an accompanied by a unit test.  

	1.
	Given an array of integers between 1 and 1,000,000. One integer is in the array twice. Find the duplicate.

	2.
	Find the first non-repeating character in a string:("DEFD" -> E )

	3.
	A standard deck of 52 cards is represented in an array. Each card is represented as an integer. Write a method to shuffle the cards.

 -->