{% model "main.json" %}
{% block content %}

	{% include "header" %}

	<div class="body-content-container">
		<div class="main-content-container">
			<h2>{{ model.subpage-main-content-headline }}</h2>
			{% for item in model.subpage-main-paragraphs %}
			<p>{{ item.pText }}</p>
			{% endfor %}
			<ul>
				{% for item in model.subpage-main-list %}
				<li>{{ item.text }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="testimonials">
			{% for item in model.subpage-testimonials %}
			<div class="quote">
				<p>"{{ item.text }}"</p>
				<span class="author">&mdash;{{ item.author }}</span>
			</div>
			{% endfor %}
		</div>
	</div>

	{% include "footer" %}

{% endblock %}